@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
img {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

a:visit {
  color: #000;
}
